<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <title>Register Example</title>
</head>
<body class="container mt-4" style="font-family: 'Fira Sans', sans-serif;">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <p style="font-size: 28px;"><ion-icon name="heart"></ion-icon><strong>GoAuth</strong></p>
        </div>
      
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary" href="/register">
                    <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="/login">
                    Log in
                </a>
            </div>
        </div>
    </nav>
    {{if .Success}}
        <article class="message">
            <div class="message-header">
                <p>Information</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                <strong>Registered !!</strong>
            </div>
        </article>
    {{else}}
    <div class="panel is-link">
        <p class="panel-heading">Register</p>
        <div class="content p-4">
            <form action="/register" method="POST">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                <input class="input" type="text" name="username" placeholder="Input User Name">
                </div>
            </div>

            <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                <input class="input" type="text" name="firstname" placeholder="Input First Name">
                </div>
            </div>

            <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                <input class="input" type="text" name="lastname" placeholder="Input Last Name">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" name="email" placeholder="Input Email">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                <input class="input" type="password" name="password" placeholder="New Password">
                </div>
            </div>

            <div class="control">
                <input type="submit" class="button is-link is-outlined is-fullwidth" value="Submit">
            </div>
            </form>
        </div>
    </div>
    <p style="text-align: center;">Already have an account ? <a href="/login">Login</a></p>
    {{end}}

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>